main {
  display: flex;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 60px;
  width: 100%;
}

.form-container form input {
  background: transparent;
  border: 0.1px solid var(--white);
  color: var(--white);
  width: 100%;
  height: 44px;
  margin: 0 8px;
  border-radius: 10px;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 20px 60px 20px 20px;
}

.form-container form button {
  border: 1px solid black;
  background: none;
  border: none;
  color: var(--primary-low);
  font-size: 2rem;
  aspect-ratio: 1/1;
  width: 44px;
  position: absolute;
  top: 14px;
  right: 55px;
}

.form-container form button :hover {
  cursor: pointer;
  background: fixed;
  transform: scale(1.05);
}

.chats {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chats::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chats ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 50px;
  list-style: none;
}

.chats ul li {
  margin: 6px 0;
  /* text-align: center; */
}

.chat-item {
  display: flex;
  flex-direction: row-reverse;
}

.chat-item-content {
  padding: 12px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  min-width: 150px;
  background-color: #4e38a3;
  color: var(--white);
  font-family: var(--primary-font-family);
}

.chat-item-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-item: center;
}

.chat-item-footer {
  margin: 0;
}

.chat-item-name {
  margin-bottom: 6px;
  font-weight: thin;
}

.chat-item-msg {
  font-size: 1.2rem;
  font-weight: 400;
}

.chat-item-ts {
  font-size: 0.8rem;
  text-align: right;
}

.transition-slide-left {
  transform: translateX(200px);
  transition: transform 0.5s;
}

@media screen and (max-width: 500px) {
  main {
    width: 100vw;
  }
}
