* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}